* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #38a7d6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: rgb(56, 227, 207);
  width: 400px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-section {
  display: flex;
  gap: 10px;
}

.input-section input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.input-section button {
  padding: 12px 18px;
  border: none;
  background: rgb(207, 10, 10);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.input-section button:hover {
  opacity: 0.9;
}

ul {
  margin-top: 20px;
  list-style: none;
}

li {
  background: #f9f9f9;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-buttons {
  display: flex;
  gap: 8px;
}

.complete-btn {
  background: green;
}

.delete-btn {
  background: red;
}

.task-buttons button {
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}